.menu{
    background-color: #2d6df6;
}

.banner{
    background-image: url("../img/Dogs_Cats_Rabbits_White_background_Shepherd_Puppy_526372_1920x1080.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 6%;
}

.botonChat{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.cajaChat{
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #dfeaff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    z-index: 1;
    display: none;
}

.mensajeChat{
    overflow-y: auto;  
    height: 80%;
    padding-bottom: 20px;
}

.botonSend{
    cursor: pointer;
    
}

.areaTextoChat{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

.textoChat{
    position: absolute;
    bottom: 0;
    width: 95%;
}

footer{
    background-color: #dfeaff;
}